li {
    display: inline-block;  
}

.ms-bg-grey {
    background-color: #2B3D4F;
}

.ms-pd-0 {
    padding: 0;
}

.ms-mrg-0 {
    margin: 0;
}

.ms-bg-green {
    background-color: #1ABC9C;
}

.ms-hero > img {
    width: 20%;
}
/* 

@media screen and (min-width:576px) {
    
} */