li {
    display: inline-block;  
}

.ms-bg-grey {
    background-color: #2B3D4F;
}

.ms-pd-0 {
    padding: 0;
}

.ms-mrg-0 {
    margin: 0;
}

.ms-bg-green {
    background-color: #1ABC9C;
}

.ms-hero > img {
    width: 20%;
}

.ms-line {
    width: 120px;
    height: 3px;
    background-color: black;
}

.ms-1-f {
    background-color: #3a546d;
}

.ms-logo-box {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
}